parameters:
	ignoreErrors:
		-
			message: "#^Variable property access on \\$this\\(Scn\\\\EvalancheSoapApiConnector\\\\Hydrator\\\\Property\\\\ArrayOfObjectValue\\)\\.$#"
			count: 2
			path: src/Hydrator/Property/ArrayOfObjectValue.php

		-
			message: "#^Variable property access on \\$this\\(Scn\\\\EvalancheSoapApiConnector\\\\Hydrator\\\\Property\\\\ArrayValue\\)\\.$#"
			count: 2
			path: src/Hydrator/Property/ArrayValue.php

		-
			message: "#^Variable property access on \\$this\\(Scn\\\\EvalancheSoapApiConnector\\\\Hydrator\\\\Property\\\\ObjectValue\\)\\.$#"
			count: 2
			path: src/Hydrator/Property/ObjectValue.php

		-
			message: "#^Variable property access on object\\.$#"
			count: 6
			path: src/Mapper/ResponseMapper.php

